body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

div {
    flex: 1;
}

span {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 18px;
}

li {
    list-style-type: none;
    display: inline;
    font-size: 18px;
    color: #E5E7EB;
}


.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    background-color: #1F2937;
    height: 50px;
    padding-left: 11%;
    padding-right: 11%;
}

.div1 {
    display: flex;
    background-color: #1F2937;
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 5%;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 5%;
    padding-top: 2%;
}

.div3 {
    background-color: #E5E7EB;
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 4%;
    padding-top: 4%;
}

.div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-top: 3.5%;
    padding-bottom: 4%;
    padding-left: 9%;
    padding-right: 9%;
}

.footer {
    justify-content: center;
    color: #E5E7EB;
}

.div1-img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #808080;
}

.info-header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 0;
    margin-bottom: 2%;
}

.div2-sub {
    display: flex;
    flex-direction: row;
}

.div2-contents {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    margin-right: 6px;
}

.div2-imgbox {
    flex: 1 1 auto;
    border: 4px solid #3882F6;
    border-radius: 8px;
    height: 7rem;
    margin: 12px;
    margin-bottom: 0px;
}

.div2 p {
    text-align: center;
}

.div3 p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.div4-cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 6px;
    background-color: #3882F6;
    overflow: auto;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.sub-text {
    font-size: 18px;
    color: #E5E6EB;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
}

#quoteref {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: #1F2937;
}
